.socialicon{
    display:inline-block;
    font-size: 20px;
    line-height: 25px;
    color:black;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
    float:middle;     
}

.socialicon .row{
    background:black;
    margin-bottom: 5px;
    margin: 10px;
}